.contact-section {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.contact-card {
  background-color: #F5F5DC;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.contact-card i {
    font-size: 24px;
    color: #0077b5;
    margin-bottom: 10px;
}

.contact-card p {
    font-size: 25px;
    color: #333;
    margin: 0;
}

.contact-card a {
    color: #0077b5;
    text-decoration: none;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .contact-card {
        max-width: 100%;
    }
}
h1 {
    margin-top: 25px;
    margin-bottom: 50px;
    color: #0056b3;
    font-size: 50px;
}
#registerBtn:hover {
  cursor: pointer;
}